name: Proxmox Deployment

on: 
    push:
    create:
    delete:
  
jobs:
    setup-runner:
        runs-on: ubuntu-latest
        steps:
            - name: Install dependencies
              run: |
                sudo apt-get update
                sudo apt install -y sshpass jq
            - name: Setting up runner
              uses: maxklema/proxmox-launchpad@main
              with:
                proxmox_username: ${{ secrets.PROXMOX_USERNAME }}
                proxmox_password: ${{ secrets.PROXMOX_PASSWORD }}
                github_pat: ${{ secrets.RUNNER_PAT }}
    deploy:
        runs-on: self-hosted
        needs: setup-runner
        steps:
          - name: Checkout code
            uses: actions/checkout@v3
          - name: Setup sensitive files
            env:
              GOOGLE_SERVICES_JSON_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
              GOOGLE_SERVICES_INFO_PLIST_BASE64: ${{ secrets.GOOGLE_SERVICES_INFO_PLIST_BASE64 }}
              METEOR_SETTINGS: ${{ secrets.METEOR_SETTINGS }}
            run: bash scripts/setup-secrets.sh
          - name: Deploy to Proxmox
            uses: maxklema/proxmox-launchpad@main
            with: 
                proxmox_username: ${{ secrets.PROXMOX_USERNAME }}
                proxmox_password: ${{ secrets.PROXMOX_PASSWORD }}
                container_env_vars: '{"ROOT_URL": "https://mieweb-timeharbor-main.opensource.mieweb.org", "GOOGLE_CLIENT_ID": "${{ secrets.GOOGLE_CLIENT_ID }}", "GOOGLE_CLIENT_SECRET": "${{ secrets.GOOGLE_CLIENT_SECRET }}", "HUB_CLIENT_ID": "${{ secrets.HUB_CLIENT_ID }}", "HUB_CLIENT_SECRET": "${{ secrets.HUB_CLIENT_SECRET }}", "METEOR_ALLOW_SUPERUSER": "true"}'
                github_pat: ${{ secrets.RUNNER_PAT }}
                http_port: 3000
                install_command: npm install
                start_command: |
                  export ROOT_URL=https://mieweb-timeharbor-main.opensource.mieweb.org
                  export GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
                  export GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
                  export HUB_CLIENT_ID=${{ secrets.HUB_CLIENT_ID }}
                  export HUB_CLIENT_SECRET=${{ secrets.HUB_CLIENT_SECRET }}
                  export VAPID_PUBLIC_KEY=${{ secrets.VAPID_PUBLIC_KEY }}
                  export VAPID_PRIVATE_KEY=${{ secrets.VAPID_PRIVATE_KEY }}
                  export GOOGLE_SERVICES_JSON_BASE64=${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}
                  export GOOGLE_SERVICES_INFO_PLIST_BASE64=${{ secrets.GOOGLE_SERVICES_INFO_PLIST_BASE64 }}
                  export METEOR_SETTINGS=${{ secrets.METEOR_SETTINGS }}
                  export METEOR_ALLOW_SUPERUSER=true
        
                  meteor run --port 0.0.0.0:3000 --allow-superuser --settings settings.json
                runtime_language: nodejs
                services: '["meteor"]'

                
